@model IEnumerable<Proyecto_Municipalidad.Models.Noticia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.noticaTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cuerpoNoticia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autorNoticia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.noticaTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuerpoNoticia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autorNoticia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNoticia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idNoticia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idNoticia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
