@model IEnumerable<Proyecto_Municipalidad.Models.Evento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventoTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cuerpoevento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autorEvento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventoTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cuerpoevento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autorEvento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idEvento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idEvento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idEvento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
